<!-- <div class="main-header">
         <ul>
             <li>
                 <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                     <span><i class="fa fa-user"> &nbsp;</i></span>
                     <span class="logged-user-title">U</span>User<b class="caret"></b>
                 </a>
             </li>
             <li>
             </li>
         </ul>
        </div> -->

        <div class="main-header">
            <p class="logo" style="color: #fff; font-size: 20px; font-weight: 500; line-height: 1.7; text-align: center; display: inline-block;"><img src="../../../../assets/img/ap-agricultre.svg" width="48px"> Rythu Bazaar</p>
            <ul id="menu" style="display:inline-block; float:right">
                <li style="padding: 5px;">
                    <a style="color: white;"  class="profileName" href="javascript:void(0)" >
                      <!-- <span><i class="fa fa-user"> &nbsp;</i></span> -->
                      <div class="col-md-12 row display-flex col-pad">
                        <div class="col-md-8 col-pad">
                          <div>{{loggedUserName}}</div>
                          <div style="font-family: system-ui;"><span>Role : </span>{{roleDisplayName}}</div>
                        </div>
                        <div class="col-md-4">
                          <span class="profile-css" (click)="userDropDown()">{{loggedUserName.split(' ')[0].charAt(0).toLocaleUpperCase()}}</span>
                        </div>
                      </div>
                      <!-- <span *ngIf="photo" class="profile-css" (click)="userDropDown()">
                      <img src= "{{photo}}" width="20" alt="Profile Image"></span> -->
                      <b class="caret"></b>
                      <div *ngIf="prfBool" class="prf-dropDown">
                          <p><a>{{'Profile'}}</a></p>
                          <!-- <p class="select-opt"><a>{{'Change Password'}}</a></p> -->
                          <p class="select-opt"><a (click)="onLogout()">{{'Logout'}}</a></p>
                      </div>
                   </a>
                </li>
                <!-- <li>
                    <a [routerLink]="['/login']" >Logout</a>
                  </li> -->

            </ul>
            </div>
