<section class="text-card">
    <div class="content">
        <div class="col-md-12 row" style="display:flex">
            <div *ngFor="let value of values" style="padding: 10px;">
              <div class="card-section sec-space">
                <div class="card-body">
                  <h4 class="card-title">{{value.name}}</h4>
                  <div style="display: flex;">
                  <i class="fa fa-user icon"  aria-hidden="true"></i>
                  <p class="card-text">{{value.number}}</p>
                  </div>
                </div>
              </div>
           </div>
          </div>
           <div class="col-md-12 row" style="display: flex;">
            <div class="col-md-6" style="display: flex;">
              <div class="card-section sec-space">
                <div class="card-body">
                  <div style="display:flex">
                    <h4  class="card-title card-name">Top 4 Academies (By Revenue)</h4>
                    <h4  class="card-title card-view">View More</h4>
                    </div>                  
                    <table>
                      <thead>
                      <tr>
                          <th>Academy Name</th>
                          <th class="mid">Revenue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>Derek's Academy</td>
                          <td class="mid">100000</td>
                      </tr>
                      <tr>
                        <td>Shawn school of defence</td>
                        <td class="mid">24689</td>
                    </tr>
                    <tr>
                      <td>Derek's Academy</td>
                      <td class="mid">100000</td>
                  </tr>
                  <tr>
                    <td>Shawn school of defence</td>
                    <td class="mid">24689</td>
                </tr>
                </tbody>
                  </table>
                  <!-- </div> -->
                </div>
              </div>
            </div>
              <div class="col-md-6"style="display: flex;">
                <div class="card-section sec-space">
                <div class="card-body">
                  <div style="display:flex">
                    <h4  class="card-title card-name">Top 4 Academies (By Revenue)</h4>
                    <h4  class="card-title card-view">View More</h4>
                    </div>
                  <table>
                      <thead>
                      <tr>
                          <th>Academy Name</th>
                          <th class="mid">Revenue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>Derek's Academy</td>
                          <td class="mid">100000</td>
                      </tr>
                      <tr>
                        <td>Shawn school of defence</td>
                        <td class="mid">24689</td>
                    </tr>
                    <tr>
                      <td>Derek's Academy</td>
                      <td class="mid">100000</td>
                  </tr>
                  <tr>
                    <td>Shawn school of defence</td>
                    <td class="mid">24689</td>
                </tr>
                </tbody>
                  </table>
                  <!-- </div> -->
                </div>
              </div>
              </div>
           </div>
        </div>
</section>