<div class="grid login-page">
    <div class="row">
        <div class="cell-4 offset-4 login-page-panel">
            <div class="row">
                <div class="cell-12">
                    <form class="register-form login-form" novalidate name="loginForm" (submit)="onForgotUser(loginForm)" #loginForm="ngForm">
                        <h5 class="text-center">Forgot Password</h5>
                        <div class="form-group">
                            <label>Username or Email</label>
                            <input class="form-control" type="text" placeholder="Enter Username or Email" required name="userName" [(ngModel)]="userName"/>
                            <small class="text-muted">You can recieve your credentials to registered mail id</small>
                        </div>
                        <div class="form-group">
                            <button class="form-control button success login-btn" type="submit">Submit</button>
                        </div>
                        <div class="row">
                            <div class="cell-6 forgot-link">
                                 <p class="">For Login? <a href="javascript:void(0);" [routerLink]="['/login']">Click here</a></p>
                            </div> 
                            <div class="cell-6 forgot-link">
                                 <p class="">Forgot New User? <a href="javascript:void(0);" [routerLink]="['/signUp']">SignUp</a></p>
                            </div>
                             
                         </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>