<section class="text-card">
  <div class="content">
      <p-table #tab1 [columns]="companyHeaders" [value]="companyList" sortMode="multiple" [paginator]="true"
          [rows]="pageRecordSize" id="quoteTable" [rowsPerPageOptions]="pageOptions" (onPage)="onPage($event)"
          [style]="{'width': '100%'}" [(selection)]="selectedData" [scrollable]="true">
          <ng-template pTemplate="caption">
              <div class="col-md-12 row head-align">
                  <div class="col-md-6">
                      <h6 class="page-header"><i class="fa fa-user head-icon" aria-hidden="true"></i>PayRoll Approvals</h6>
                  </div>
                  <div class="col-md-6 crud-button-align">
                      <!-- <button type="button" class="btn btn-primary create-color special btngrid" (click)="onPayrollGeneration(company)">New PayRoll Generation</button>
                      <button type="button" class="btn btn-primary delete-color special btngrid" (click)="onDeleteUser()">Delete</button> -->
                      <input type="text" class="form-control searchgrid" pInputText size="20" placeholder="Search.."
                      (input)="tab1.filterGlobal($event.target.value, 'contains')" />
                  </div>
              </div>
            </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th style="width: 3em">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
                  <th style="width: 11em;">Actions</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData">
                  <td style="width: 3em">
                      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns" [style.width]="col.width">
                      <span *ngIf="!col.isLink">
                          {{rowData[col.field]}}
                      </span>
                      <span *ngIf="col.isLink"><a style="color: #02095d;" href="javascript:void(0);"
                        (click)="onSelectedRbz(rowData,company)"> {{rowData[col.field]}} </a>
                    </span>
                  <td style="width: 11em">
                      <span class="crud-icons actionIcons">
                               <i class="fa fa-pencil-square-o" (click)="onPayrollGeneration($event, rowData, selectedData, company)" aria-hidden="true" data-toggle="tooltip" title="Edit"></i>
                      </span>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                  <td [attr.colspan]="5" style="text-align:center;">
                      No Records Found.
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
              <div class="display-flex" *ngIf="companyList?.length > 0">
                  <grid-pagination-info [totalRecords]="companyList.length" [pageData]="paginatoryDetails">
                  </grid-pagination-info>
              </div>
          </ng-template>
      </p-table>
  </div>
</section>


<ng-template #company>
  <form class="payroll-gen" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="employeePop">
  <div class="modal-header">
      <div class="col-md-12 row" style="display: flex; ">
      <div class="">
      <h6 class="popupHeader">PayRoll Generation</h6>
      </div>
      <div class="pop-btn-align">
        <button type="submit" class="btn btn-primary pop-up-button create-color special">Submit</button>
        <button type="submit" class="btn btn-primary pop-up-button view-color special">Approve</button>
        <button type="submit" class="btn btn-primary pop-up-button delete-color special">Reject</button>
      </div>
      </div>
      <button type="button" class="close close-style" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12 row display-flex">
      <div class="col-md-6">
        <div class="form-group">
            <label for="rythuBazaar">Rythu Bazaar</label>
            <select disabled class="form-control" name="rythuBazaar" [(ngModel)]="companyInputs.rythuBazaar"
            [ngClass]="{'is-invalid':f.submitted && rythuBazaar.invalid}" #rythuBazaar="ngModel" required>
                <option [ngValue]="undefined" selected>Select</option>
                <option *ngFor="let bazaar of rythuBazaarsList; let j = index" [value]="bazaar">{{bazaar}}</option>
              </select>
              <div class="invalid-feedback">
                <div>Subscription is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="month">Month</label>
            <select disabled class="form-control" name="month"  #month="ngModel" [(ngModel)]="companyInputs.month"
            [ngClass]="{'is-invalid':f.submitted && month.invalid}">
              <option [ngValue]="undefined" selected>Select Month</option>
              <option *ngFor="let status of monthList; let j = index" [value]="status.id">{{status.month}}</option>
          </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="year">Year</label>
            <select disabled class="form-control" name="year"  #year="ngModel" [(ngModel)]="companyInputs.year"
            [ngClass]="{'is-invalid':f.submitted && year.invalid}">
              <option [ngValue]="undefined" selected>Select Year</option>
              <option *ngFor="let status of yearList; let j = index" [value]="status">{{status}}</option>
          </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label for="totalSalaryAmmount">Total Salary Amount</label>
              <input type="text" class="form-control" placeholder="Total Salary Ammount" name="totalSalaryAmmount" [(ngModel)]="companyInputs.totalSalaryAmmount" #totalSalaryAmmount="ngModel" [ngClass]="{ 'is-invalid': f.submitted && totalSalaryAmmount.invalid }" required />
              <div *ngIf="f.submitted && totalSalaryAmmount.invalid" class="invalid-feedback">
                  <div *ngIf="totalSalaryAmmount.errors.required">Total Salary Amount is required</div>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label for="totalWorkingDays">Total Working Days</label>
              <input type="text" class="form-control" placeholder="Total Working Days" name="totalWorkingDays" [(ngModel)]="companyInputs.totalWorkingDays" #totalWorkingDays="ngModel" [ngClass]="{ 'is-invalid': f.submitted && totalWorkingDays.invalid }" required />
              <div *ngIf="f.submitted && totalWorkingDays.invalid" class="invalid-feedback">
                  <div *ngIf="totalWorkingDays.errors.required">Total Working Days is required</div>
              </div>
            </div>
          </div>
    </div>
      <div class="col-md-12 row" style="display: flex !important;">
          <p-table #tab2 class="" [columns]="payRollGenHeaders" [value]="payRollGenList" sortMode="multiple" [paginator]="true"
          [rows]="pageRecordSizeOne" id="quoteTable" [rowsPerPageOptions]="pageOptionsOne" (onPage)="onPageOne($event)"
          [style]="{'width': '100%'}" [(selection)]="selectedDataOne" [scrollable]="true">
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th style="width: 3em">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowDataOne let-columns="columns">
              <tr [pSelectableRow]="rowDataOne">
                  <td style="width: 3em">
                      <p-tableCheckbox [value]="rowDataOne"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns" [style.width]="col.width">
                      <span>
                          {{rowDataOne[col.field]}}
                      </span>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                  <td [attr.colspan]="5" style="text-align:center;">
                      No Records Found.
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
              <div style="display: flex;" *ngIf="payRollGenList?.length > 0">
                  <grid-pagination-info [totalRecords]="payRollGenList.length" [pageData]="paginatoryDetailsOne">
                  </grid-pagination-info>
              </div>
          </ng-template>
      </p-table>
    </div>
  </div>
  </div>
  </form>
</ng-template>
