<section class="text-card">
    <div class="content">
        <p-table #tab1 [columns]="companyHeaders" [value]="companyList" sortMode="multiple" [paginator]="true"
            [rows]="pageRecordSize" id="quoteTable" [rowsPerPageOptions]="pageOptions" (onPage)="onPage($event)"
            [style]="{'width': '100%'}" [(selection)]="selectedData" [scrollable]="true">
            <ng-template pTemplate="caption">
                <div class="col-md-12 row" style="margin: 0px 0px 10px 0px; display: flex; ">
                    <div class="col-md-6">
                        <h6 class="page-header"><i class="fa fa-user head-icon" aria-hidden="true"></i>Academy Management</h6>
                    </div>
                    <div class="col-md-6" style="float: right;">
                        <button type="button" class="btn btn-primary create-color special btngrid" (click)="onCreateUser(acdemy)">Create</button>
                        <button type="button" class="btn btn-primary delete-color special btngrid" (click)="onDeleteUser()">Delete</button>
                        <input type="text" class="form-control searchgrid" pInputText size="20" placeholder="Search.."
                        (input)="tab1.filterGlobal($event.target.value, 'contains')" />
                    </div>
                </div>
              </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3em">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th style="width: 11em;">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td style="width: 3em">
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns" [style.width]="col.width">
                        <span>
                            {{rowData[col.field]}}
                        </span>
                    <td style="width: 11em">
                        <span class="crud-icons actionIcons">
                                 <i class="fa fa-pencil-square-o" (click)="userEdit($event, rowData, selectedData, acdemy)" aria-hidden="true" data-toggle="tooltip" title="Edit"></i>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="5" style="text-align:center;">
                        No Records Found.
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <div style="display: flex;" *ngIf="companyList?.length > 0">
                    <grid-pagination-info [totalRecords]="companyList.length" [pageData]="paginatoryDetails">
                    </grid-pagination-info>
                </div>
            </ng-template>
        </p-table>
    </div>
</section>


<!-- modal pop-up for companyInputs -->
<ng-template #acdemy>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="modal-header">
        <div class="col-md-12 row" style="display: flex; ">
            <div class="">
        <h6 class="popupHeader">Create Academy</h6>
        </div>
        <div class="" style="float: right; flex: 1;">
            <button type="submit" class="btn btn-primary pop-up-button create-color special">Submit</button>
            <button type="button" class="btn btn-primary delete-color special pop-up-button" (click)="closeModal()">Cancel</button>
        </div>
        </div>
        <button type="button" class="close close-style" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12 row" style="display: flex !important;">
            <div class="col-md-12">
            <div class="form-group">
                <label for="name">Role Name</label>
                <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="companyInputs.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors.required">Role Name is required</div>
                </div>
            </div>
            </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="companyInputs.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" placeholder="Country" name="phone" [(ngModel)]="companyInputs.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required />
                <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                    <div *ngIf="phone.errors.required">Phone Number is required</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="addressOne">Address 1</label>
                <input type="text" class="form-control" name="addressOne" placeholder="Address 1" [(ngModel)]="companyInputs.addressOne" #addressOne="ngModel" [ngClass]="{ 'is-invalid': f.submitted && addressOne.invalid }" required />
                <div *ngIf="f.submitted && addressOne.invalid" class="invalid-feedback">
                    <div *ngIf="addressOne.errors.required">Address 1 is required</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="addressTwo">Address 2</label>
                <input type="text" class="form-control" name="addressTwo" placeholder="Address 2" [(ngModel)]="companyInputs.addressTwo" #addressTwo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && addressTwo.invalid }" required />
                <div *ngIf="f.submitted && addressTwo.invalid" class="invalid-feedback">
                    <div *ngIf="addressTwo.errors.required">Address 2 is required</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" placeholder="City" name="city" [(ngModel)]="companyInputs.city" #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required />
            <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                <div *ngIf="city.errors.required">city is required</div>
            </div>
        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="state">State</label>
                <select class="form-control" name="state" [(ngModel)]="companyInputs.state" 
                [ngClass]="{'is-invalid':f.submitted && state.invalid}" #state="ngModel" required>
                    <option [ngValue]="undefined" selected>Select</option>
                    <option *ngFor="let states of stateList; let j = index" [value]="states">{{states}}</option>
                  </select>
                  <div class="invalid-feedback">
                    <div>State is required</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
            <label for="zipCode">Zipcode</label>
            <input type="text" class="form-control" placeholder="Zipcode" name="zipCode" [(ngModel)]="companyInputs.zipCode" #zipCode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && zipCode.invalid }" required />
            <div *ngIf="f.submitted && zipCode.invalid" class="invalid-feedback">
                <div *ngIf="zipCode.errors.required">Zipcode is required</div>
            </div>
        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="country">Country</label>
                <select class="form-control" name="country" [(ngModel)]="companyInputs.country" 
                [ngClass]="{'is-invalid':f.submitted && country.invalid}" #country="ngModel" required>
                    <option [ngValue]="undefined" selected>Select</option>
                    <option *ngFor="let countrys of countryList; let j = index" [value]="countrys">{{countrys}}</option>
                  </select>
                  <div class="invalid-feedback">
                    <div>Country is required</div>
                </div>
            </div>
        </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="affiliates">Create Affiliates</label>
                    <div class="row">
                      <div class="form-check">
                        <input class="form-check-input radioTextClass" type="radio" [(ngModel)]="companyInputs.affiliates" #affiliates="ngModel" name="affiliates"
                          id="yes" value="yes">
                        <label class="form-check-label" for="yes">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input radioTextClass" type="radio" [(ngModel)]="companyInputs.affiliates" #affiliates="ngModel" name="affiliates"
                          id="no" value="no">
                        <label class="form-check-label" for="no">
                          No
                        </label>
                      </div>
                    </div>
                    <div class="invalid-check" *ngIf="affiliates.value == null && f.submitted">
                      <p>Create Affiliate is required</p>
                    </div>
                  </div>
            </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="subscription">Subscription</label>
                <select class="form-control" name="subscription" [(ngModel)]="companyInputs.subscription" 
                [ngClass]="{'is-invalid':f.submitted && subscription.invalid}" #subscription="ngModel" required>
                    <option [ngValue]="undefined" selected>Select</option>
                    <option *ngFor="let subscriptions of subscriptionList; let j = index" [value]="subscriptions">{{subscriptions}}</option>
                  </select>
                  <div class="invalid-feedback">
                    <div>Subscription is required</div>
                </div>
            </div>
        </div>
        </div>
    </div>
</form>
</ng-template>
