<section class="text-card">
    <div class="content">
        <p-table #tab1 [columns]="companyHeaders" [value]="companyList" sortMode="multiple" [paginator]="true"
            [rows]="pageRecordSize" id="quoteTable" [rowsPerPageOptions]="pageOptions" (onPage)="onPage($event)"
            [style]="{'width': '100%'}" [(selection)]="selectedData" [scrollable]="true">
            <ng-template pTemplate="caption">
                <div class="col-md-12 row head-align">
                    <div class="col-md-6">
                        <h6 class="page-header"><i class="fa fa-user head-icon" aria-hidden="true"></i>Roles</h6>
                    </div>
                    <div class="col-md-6 crud-button-align">
                        <button type="button" class="btn btn-primary create-color special btngrid" (click)="onCreateUser(company)">Create</button>
                        <button type="button" class="btn btn-primary delete-color special btngrid">Delete</button>
                        <button type="button" class="btn btn-primary view-color special btngrid">View Users</button>
                        <input type="text" class="form-control searchgrid" pInputText size="20" placeholder="Search.."
                        (input)="tab1.filterGlobal($event.target.value, 'contains')" />
                    </div>
                </div>
              </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3em">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th style="width: 11em;">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td style="width: 3em">
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns" [style.width]="col.width">
                        <span>
                            {{rowData[col.field]}}
                        </span>
                    <td style="width: 11em">
                        <span class="crud-icons actionIcons">
                                 <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip" title="Edit"></i>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="5" style="text-align:center;">
                        No Records Found.
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <div class="display-flex" *ngIf="companyList?.length > 0">
                    <grid-pagination-info [totalRecords]="companyList.length" [pageData]="paginatoryDetails">
                    </grid-pagination-info>
                </div>
            </ng-template>
        </p-table>
    </div>
</section>


<!-- modal pop-up for companyInputs -->
<ng-template #company>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="modal-header">
        <div class="col-md-12 row display-flex">
            <div class="">
        <h6 class="popupHeader">Create Role</h6>
        </div>
        <div class="pop-btn-align">
            <button type="submit" class="btn btn-primary pop-up-button create-color special">Submit</button>
            <button type="button" class="btn btn-primary delete-color special pop-up-button">Cancel</button>
        </div>
        </div>
        <button type="button" class="close close-style" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

<!-- treview start -->
<div class="col-md-12 display-flex">
    <div class="col-md-7 col-pad">
        <div class="form-group">
        <label for="addressTwo addressTwo-align" >Role</label>
        <ngx-treeview [config]="config" [items]="items" (filterChange)="onFilterChange($event)" (selectedChange)="values = $event">
        </ngx-treeview>
        </div>
    </div>
        <div class="col-md-5 col-pad">
            <div class="form-group">
                <label for="roleType">Role Type</label>
                <div class="row">
                  <div class="form-check">
                    <input class="form-check-input radioTextClass" type="radio" [(ngModel)]="model.roleType" #roleType="ngModel" name="roleType"
                      id="yes" value="yes">
                    <label class="form-check-label" for="yes">
                      Internal Role
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input radioTextClass" type="radio" [(ngModel)]="model.roleType" #roleType="ngModel" name="roleType"
                      id="no" value="no">
                    <label class="form-check-label" for="no">
                      Academy Role
                    </label>
                  </div>
                </div>
              </div>
        </div>   
</div>
<!-- treview start -->

</div>
</form>
</ng-template>