.login-form{
    background-color: #FFF;
    border-radius: 7px;
    padding-left: 40px;
    padding-right: 40px;
}

.login-form h5{
    color: #000;
    border-bottom: none;
}

.login-page-panel{
    border-radius: 7px;
}

.fa-user:before{
    position: static;
}


.login-bg{
        background-image:  
          linear-gradient(90deg, rgba( 
            0, 123, 255, .9), rgba( 
              27, 94, 32, .9)), url( 
'../../../assets/img/rythu-bazar.jpg'); 
        width: 100%; 
        height: 100vh; 
    
}


